#drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed lightgrey;
  width: 50vw;
  height: 12em;
  border-radius: 1em;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  overflow: hidden;

  &:hover {
    border: 2px dashed grey;
  }
  label {
    position: absolute;
    margin: auto;
    width: 30%;
  }
}

.form-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#upload-skeleton {
  --border-radius: 0%;
  width: 100%;
  height: inherit;
}
