#drop-zone {
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed lightgrey;
  width: 50%;
  height: 12em;
  border-radius: 1em;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}

#drop-zone label {
  position: absolute;
  margin: auto;
  width: 30%;
}

#drop-zone:hover {
  border: 2px dashed grey;
}

#myProgress {
  width: 100%;
  background-color: var(--sl-color-neutral-5000);
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#myBar {
  --border-radius: 0%;
  width: 0%;
  height: 13em;
  --sheen-color: var(--sl-color-sky-600);
}
