h1 {
  font-family: var(--sl-font-sans);
  margin: auto;
  color: var(--sl-color-neutral-800);
  // border-top: 1px solid var(--sl-color-neutral-900);
  // background: var(--sl-color-gray-900);
}

h2 {
  margin: auto;
}

h4 {
  font-family: var(--sl-font-sans);
  margin: auto;
  padding: 0;
  color: var(--sl-color-neutral-400);
  height: 1em;
}

a {
  color: var(--sl-color-blue-700);
}

#sos-lbl {
  font-size: var(--sl-font-size-small);
}

#light-dark-switch {
  height: 10vh;
  display: flex;
  align-items: center;
}

#header {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 10vh;

  div {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  #header-left {
    width: 7.5vw;
    align-items: flex-start;
    padding-left: 0.5vw;
  }

  #header-center {
    align-items: center;
    width: 85vw;
    // padding-top: 0.5vh;
    // padding-bottom: 0.5vh;
  }
  #header-right {
    width: 7.5vw;
    align-items: flex-end;
    padding-right: 0.5vw;
  }
}
