body {
  background: var(--sl-color-neutral-50);
  color: var(--sl-color-neutral-900);
  margin: 0;
  padding: 0;
}

.main {
  font-family: var(--sl-font-sans);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  width: 100%;
  text-align: center;
}

#outlet {
  height: calc(90vh - 1px);
}

#output-main {
  height: 100%;
  width: 100%;
  min-width: 1150px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(23em, 33.3vw) 0vw minmax(15em, 33.3vw) 33.3vw;
  overflow: hidden;
  // padding-top: 1em;
  overflow-x: auto;
}

#main-divider {
  margin: 0;
  color: var(--sl-color-neutral-100);
}

.help-buttons sl-button {
  padding-left: 1em;
  padding-right: 1em;
}

#help-dialog dt {
  font-weight: bold;
}
