@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.main {
    position: relative;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#drop-zone {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 3px dashed lightgrey;
    width: 50%;
    height: 100px;
    border-radius: 25px;
    font-size: 1.5em;
    font-family: "Raleway", sans-serif;
    overflow: hidden;
}

#drop-zone:hover {
    border: 3px dashed grey;
}

#output-main {
    border: 1px 1px black;
    height: 50em;
    width: 100%;
    background: blue;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

#pdf-renderer {
    background: orange;
    height: 100%;
}

#summary-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: hidden;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.output-boxes {
    color: #0b0c10;
    background: #66fcf1;
    min-height: 4em;
    width: 90%;
    margin: auto;
    overflow: scroll;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

.output-boxes.open > div {
    display: block !important;
    color: #1f2833;
    background: #c5c6c7;
    max-height: 33em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.output-boxes::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.output-boxes {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
